.comments {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
  }
  
  .comments button {
    font: inherit;
    font-weight: bolder;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    border: 1px solid #cf3a1f;
    cursor: pointer;
  }
  
  .comments button:hover,
  .comments button:active {
    background-color: #af220a;
  }