.listItem {
    display: flex;
    margin: 15px 0;
    padding-right: 30px;
    background-color: #a32aff6e;
    border-radius: 15px;
    overflow: hidden;
}
.image {
    width: 200px;
    height: 200px
}
.image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.information {
    padding: 15px;
    padding-left: 20px;
}
.information div{
    margin-bottom: 10px;
}
.information div time {
    display: flex;
    align-items: center;
}
.information div address {
    display: flex;
    align-items: center;
}
.eventItemBtn {
    display: flex;
    justify-content: flex-end;
}
.eventItemBtn a {
    display: flex;
    align-items:center;
}

@media (max-width: 610px) {
    .listItem {
      flex-direction: column;
    }
  
    .image img {
      width: 290%;
      height: 14rem;
    }
  
    .information {
      width: 100%;
      padding: 15px;
      text-align: center;
    }
  
    .information h2 {
      margin: 1rem 0;
    }
  
    .eventItemBtn {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
